<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Vue Todo list</title>
        <link rel="stylesheet" href="style.css" type="text/css">
    </head>
    <body>
        <div class="wrapper" id="app">
            <div class="block">
                <form class="form" id="entry" v-on:submit.prevent="onSubmit">
                    <input class="input"
                           type="text"
                           v-model="newItem"
                           placeholder="Create todo and hit enter"
                           autofocus
                           autocomplete="off"
                    >
                </form>
            </div>
            <div class="block">
                <h1>
                    Todo list
                    <count-badge v-show="list.length" class="yellow" :count="list.length"></count-badge>
                </h1>
                <p v-if="!list.length">Your todo list is empty</p>
                <ul class="list" id="list">
                    <li class="item"
                        :class="{completed: item.completed}"
                        v-for="(item, index) in list"
                        :key="'item' + index"
                    >
                        <todo-entry
                                :index="index"
                                :title="item.title"
                                v-on:my_toggle="onStatusToggle(index)"
                        ></todo-entry>
                        <button class="delete" v-on:click="onDelete(index)">Delete</button>
                    </li>
                </ul>
            </div>

            <div class="block">
                <p>Total count <count-badge :count="list.length"></count-badge></p>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>

        <script>
            //registering
            var TodoEntryComponent = {
                name: 'todo-entry-name',
                props: ['index', 'title'],
                template: '<span class="todo-entry" v-on:click="$emit(\'my_toggle\')"><em>{{index}}</em>. {{title}}</span>'
            };

            var CountBadgeComponent = {
                name: 'count-badge-name',
                props: ['count'],
                template: '<span class="count-badge">{{count}}</span>'
            };

            new Vue({
                name: 'vue-app',
                el: '#app',
                components: {
                    'todo-entry': TodoEntryComponent,
                    'count-badge': CountBadgeComponent,
                },
                data: {
                    list: [
                        {
                            title: 'pirmas',
                            completed: true,
                        },
                        {
                            title: 'antras',
                            completed: false,
                        },
                        {
                            title: 'trečias',
                            completed: false,
                        },
                    ],
                    newItem: '',
                },
                methods: {
                    onSubmit() {
                        this.list.push({
                            title: this.newItem,
                            completed: false,
                        });
                        this.newItem = '';
                    },
                    onDelete(val) {
                        this.list.splice(val, 1);
                    },
                    onStatusToggle(val) {
                        this.list[val].completed = !this.list[val].completed;
                    }
                }
            });
        </script>
    </body>
</html>